/* 由于原始的表格的样式太难看了  加一点样式~ */
.inventors {
    font-family: 'Times New Roman', Times, serif;
    /* border-collapse: collapse; */
    border-collapse: collapse;
    width: 100%;
}

/* 全体表格元素 */
.inventors td, .inventors th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
/* 灰白相间的斑马纹表格效果 */ 
.inventors tr:nth-child(even){
    background-color: #f2f2f2;
}
/* 鼠标悬浮的效果 */
.inventors tbody tr:hover {
    background-color: #ddd;
    text-align: center;
    border: 1px, solid,blue;
}

/* 表头的效果 */
.inventors thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: skyblue;
    color: white;
}
